{% extends "account/base.html" %}
{% load static %}
{% load i18n %}


{% block content %}

    
{% if user.is_authenticated %}
      <div class="row">
      <div class="col-sm-4"></div>
      <div class="col-sm-4 text-center" style="margin-top: 100px;">
        <!--==========================-->
        <div class="card">
        <div class="card-body">
        <h2>Sign out</h2><br>
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
      <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="btn btn-lg btn-success">Yes</button>
      </form>
      <br>
      <a href="/accounts/profile"><button type="submit" class="btn btn-lg btn-danger">No</button></a>
      </div>
      </div>

      </div>
      <div class="col-sm-4"></div>
      </div>

{% endif %}
{% endblock %}
