{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="container-fluid">
<div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-5">
            <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                    {{ form.as_table}}
                    </table><br>
                    <button type="submit" class="btn btn-outline-success">Upload post</button>
                </form>
            </div>
            </div>   
        </div>
        <!------SIDE BAR----->
    <div class="col-md-4">
            <div class="card" style="width: 300px;">

                <div class="card-body">
                    <h5 class="card-title">About home</h5>
                    <hr class="hr-light">
                <p class="post-meta" style="margin-left: 5px;">
                   home
                   </p>
            </div>
            </div>
            <br><br>
            <div class="card" style="width: 300px;">

                <div class="card-body">
                    <h5 class="card-title">Top Subpages</h5>
                    <hr class="hr-light">
                <p class="post-meta" style="margin-left: 5px;">
                    <a href="/a/memes"> <i class="fas fa-user-circle"></i> a/Memes</a>
                   </p>
    <p class="post-meta" style="margin-left: 5px;">
        <a href="/a/confessions">  <i class="fas fa-user-circle"></i> a/confessions</a>
                   </p>
                   <p class="post-meta" style="margin-left: 5px;">
                    <a href="/a/ml">  <i class="fas fa-user-circle"></i> a/Machine Learning</a>
                               </p>
                               <p class="post-meta" style="margin-left: 5px;">
                                <a href="/a/airshots">  <i class="fas fa-user-circle"></i> a/airshots</a>
                                           </p>
                                           <p class="post-meta" style="margin-left: 5px;">
                                            <a href="/a/examCorner"> <i class="fas fa-user-circle"></i> a/Exam Corner</a>
                                                       </p>
            </div>
        </div>
            <!----------About us------>
            <br><br>
            <div class="card" style="width: 300px;">

                <div class="card-body">
                    <h5 class="card-title">AirBuddy inc.</h5>
                    <hr class="hr-light">
                
                    <p style="margin-left: 5px;">
                        <a href=""> <small style="font-size: 12px;">About</small></a>
                        <a href=""><small style="font-size: 12px;">terms&conditions</small> </a>
                        <a href=""><small style="font-size: 12px;">reportBug</small> </a>
                        <a href=""><small style="font-size: 12px;">communities</small> </a>
                        <a href=""><small style="font-size: 12px;">guidelines</small> </a>
                        <a href=""><small style="font-size: 12px;">privacy</small> </a>
                   </p>
                </div>
            </div>
            </div>
</div>
</div>  
        
{% endblock %}