{% extends 'base.html' %}

{% block content %}
<br>
<br>
<div class="container-fluid">
<div class="row">
    <div class="col-md-3"></div>
        <div class="col-md-5">
            <div class="card">
            <div class="card-body">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <table>
                    {{ form.as_table}}
                    </table><br>
                    <button type="submit" class="btn btn-outline-success">Upload post</button>
                </form>
            </div>
            </div>   
        </div>
    <div class="col-md-4">
        <div class="card" style="width: 300px;">

            <div class="card-body">
                <h5 class="card-title">Top Subpages</h5>
                <hr class="hr-light">
            <p class="post-meta" style="margin-left: 5px;">
                <a href="/a/memes"> a/Memes</a>
               </p>
<p class="post-meta" style="margin-left: 5px;">
    <a href="/a/confessions"> a/confessions</a>
               </p>
               <p class="post-meta" style="margin-left: 5px;">
                <a href="/a/ml"> a/Machine Learning</a>
                           </p>
        </div>
    </div>
</div>
</div>  
        
{% endblock %}