{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>

<div class="container-fluid">
    <div class="row">

        <div class="col-md-1"></div>
        <div class="col-md-3"> 
            <div class="card" style="width: 220px;margin-left: 120px;">
    
                <div class="card-body">
                    <h5 class="card-title">{{ user.get_username }}</h5>
                    <hr class="hr-light">
                <p class="post-meta" style="margin-left: 5px;">
                    <a href="/accounts/post"> <i class="fab fa-usps"></i> My post</a>
                    </p>
        <p class="post-meta" style="margin-left: 5px;">
            <a href="/accounts/mysubpages"> <i class="fas fa-file-alt"></i> Subpages you follow</a>
                    </p>
                    <p class="post-meta" style="margin-left: 5px;">
                        <a href="#">  <i class="fas fa-key"></i> Change password</a>
                                </p>
                                <p class="post-meta" style="margin-left: 5px;">
                                    <a href="/accounts/notifications">   <i class="fas fa-comment-alt"></i> Notifications</a>
                                            </p>
                                
                                <p class="post-meta" style="margin-left: 5px;">
                                    <a href="/accounts/Bookmarks"> <i class="fas fa-bookmark"></i> Bookmarks</a>
                                            </p>
                                <p class="post-meta" style="margin-left: 5px;">
                                    <a href="/accounts/logout">  <i class="fas fa-sign-out-alt"></i> Log Out</a>
                                            </p>
                                           
                               
            </div>
        </div>    
        </div>
        <div class="col-md-4"> 
            <div class="card">
                <h5 class="card-title">User Detail</h5>
                <p class="post-meta" style="margin-left: 5px;">
                     <strong>Username :</strong>  {{user.get_username}}
                    </p>
                    <p class="post-meta" style="margin-left: 5px;">
                        <strong>First name :</strong>
                       </p>
                       <p class="post-meta" style="margin-left: 5px;">
                        <strong>Last name :</strong>
                       </p>
                       <p class="post-meta" style="margin-left: 5px;">
                        <strong>E-mail</strong>(primary) <strong>:</strong> {{user.email}}
                       </p>
                </div>
        </div>
    
        <div class="col-md-4">
            <img src="https://www.w3schools.com/html/pic_trulli.jpg" alt="profile-image" class="profile-image" style="height: 220px;width: 250px;">
        </div>



    </div>
</div>
{% endblock %}