{% extends 'base.html' %}
{% load static %}
{% block content %}

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">  </div>
        <div class="col-md-5">
            <div class="card" style="background-color: rgb(255, 255, 255);">
                <div class="card-body">
                Upload Article related to Web Development 
                <a href="/a/webd/submit">
                <button type="button" class="btn btn-primary btn-lg">create post<i class="fa fa-edit"></i></button>
                </a>
                </div>
            </div>
            <br>
    <!----------POSTS---------->
    {% for row in obj %}
        <div class="card">
            <p class="post-meta" style="font-size: 12px;margin: 0%;">Posted by
            <a href="#">u/{{row.author}}</a> on {{row.created_on}}</p><hr class="hr-light">
            <div class="card-body">
            <h5 class="card-title">{{row.title}}</h5>
            <p style="
                overflow : hidden;
                text-overflow: ellipsis;
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
              "> {{row.description}}</p>
              
              <a href="/a/webd/{{row.pk}}"><button type="button" class="btn btn-outline-dark">Read more...</button></i></a>
            </div>
        
        </div>
      <br> <br>
    {% endfor %}
    </div>
    <!----------POSTS ENDED ---------->
        <div class="col-md-4">
            <div class="card" style="width: 300px;">

                <div class="card-body">
                    <h5 class="card-title">About a/Web Development</h5>
                    <hr class="hr-light">
                <p class="post-meta" style="margin-left: 5px;">
                    A airbuddy subpage to share your knowledge on Web Development topics
                    with community members.
                   </p>
            </div>
        </div>



    </div>
</div>
{% endblock %}